@import url('https://fonts.googleapis.com/css?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bigshot+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bigelow+Rules|Bigshot+One&display=swap');

img {
    --webkit-box-shadow: -31px 10px 18px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -31px 10px 18px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -31px 10px 18px -8px rgba(0, 0, 0, 0.75);


}

.root {
    display: flex;
    flex-flow: row wrap;



}

h1 {
    font-family: 'Supermercado One';
    font-size: 2em;
    width: 50%;

}

p {
    font-family: 'Supermercado One'
}

.personaje {
    display: flex;
    flex-flow: column wrap;
    align-items: center;


    width : 33% img {
        width: 50pt;
        height: auto;


    }

    li {
        list-style: square inside;
    }


    p {
        width: 33%;
    }

}

.cabecera {
    height: 10em;
    background-color: red;
    display: flex;
    justify-content: left;
    margin-bottom: 1em;

    h1 {
        color: white;
        font-family: 'Bigshot One', cursive;
        font-family: 'Bigelow Rules', cursive;
        margin-top: 0.5em;
        margin-left: 2em;
        font-size: 50pt;

        @media (max-width: 800px) {
            margin-top: 1em;
            margin-left: 2em;

            font-size: 30pt;
        }



    }





}

.btncb {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 2em;
    color: #fff;
    font-weight: bold;
    width: 5%;
    height: 15%;
    background-color: #538fbe;
    padding: 30px 20px;
    font-size: 1em;
    border: 1px solid #2d6898;
    background-image: linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    background-image: -o-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);

    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0, rgb(73, 132, 180)),
            color-stop(1, rgb(97, 155, 203)));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
    -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
    box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
    transition: all ease-in-out .5s;
    text-align: center;
    @media (max-width: 850px) {
       
        font-size: 0.6em;
    }


}

.btncb:hover {
    background-color: white;
    color: dimgrey;
    transition: all ease-in-out .5s
}